node_modules
.env
test_output.txt
test_results.txt
unit_test_output.txt
spanner_tap.txt
*article*.md
.oracle_wallet
.gemini
.antigravity
.DS_Store
.vscode
build_paf/
build_paf/*.*
build_paf_26_7/
build_paf_26_7/*